<h1>圖書館管理系統</h1>

<%= link_to "新增書本", new_candidate_path %>

<table>
  <thead>
    <tr>
      <td>書名</td>
      <td>簡介</td>
      <td>作者姓名</td>
      <td>售價</td>
    </tr>
  </thead>
  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= link_to candidate.title, edit_candidate_path(candidate)  %></td>
        <td><%= candidate.introduction %></td>
        <td><%= candidate.author %></td>
        <td><%= candidate.price %></td>
        <td>
          <%= link_to "編輯", edit_candidate_path(candidate) %>
          <%= link_to "刪除", candidate_path(candidate), method: "delete", data: { confirm: "確認刪除" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>